<!DOCTYPE HTML>
<!--
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head id="head">
    <% include ./../../partials/head %>
  </head>
  <body>
    <!-- Header -->
      <header id="header" class="alt">
        <div class='logo'>
          <a href='/'>J.A Rio militar</a>
        </div>
        <a onclick="var r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">log-out</a>
        <a href='#menu'>Menu</a>
      </header>

    <!-- Nav -->
    <% include ./../../partials/nav2 %>

    <!-- One -->
      <section id="One" class="wrapper style3">
        <div class="inner">
          <header class="align-center">
            <br>
            <h3>Produtos em estoque</h3>
          </header>
        </div>
      </section>

      <input type="button" class="button small alt" onclick="window.location.href='/fabrica'" value="<- voltar">

      <section id="one" class="wrapper style2">
        <div class="inner">

          <div class="grid-style">

            <div>
              <div class="box">
                <div class="content">
                  <header class="align-center">
                    <p>Acesso à entrada de</p>
                    <h4>Estoque</h4>
                    <button class="button alt" onclick="window.location.href='/loja-estoque-entrada'">Acessar</button>
                  </header>
                </div>
              </div>
            </div>

            <!-- <div>
              <div class="box">
                <div class="content">
                  <header class="align-center">
                    <p>Acesso à saída de</p>
                    <h4>Estoque</h4>
                    <button class="button alt" onclick="window.location.href='/loja-estoque-saida'">Acessar</button>
                  </header>
                </div>
              </div>
            </div> -->

          </div>

          <div>
            <div class="box">
              <div class="content">
                <header class="align-center">
                  <div class="row uniform">
                    <div class="4u 12u$(xsmall)">
                      <form id="store-storage-filter">
                        <select id="get-type">
                          <option value="0">Tipo</option>
                          <option value="colete">Colete</option>
                          <option value="pecamodular">Peça modular</option>
                          <option value="coldre">Coldre</option>
                          <option value="bornal">Bornal</option>
                        </select>
                      </div>
                      <div class="4u 12u$(xsmall)">
                        <select id="get-color">
                          <option value="0">Cor</option>
                          <option value="pt">Preto</option>
                          <option value="vd">Verde</option>
                          <option value="tan">Tan</option>
                          <option value="cpt">Camo preto</option>
                          <option value="cvd">Camo verde</option>
                        </select>
                      </div>
                      <div class="4u 12u$(xsmall)">
                        <button type="submit" class="button xsmall alt">Filtrar</button>
                      </div>
                    </form>
                  </div>
                  <br>
                  <table>
                    <thead>
                      <tr>
                        <td>Cod</td>
                        <td>Tipo</td>
                        <td>Nome</td>
                        <td>Cor</td>
                        <td>Qtd</td>
                      </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                  </table>
                </header>
                <div class="align-center">
                  <br>
                  <button id="anterior" class="button small alt" autocomplete="off" disabled>&lsaquo;&lsaquo;</button>
                  <span id="numeracao"></span>
                  <button id="proximo" class="button small alt" autocomplete="off" disabled>&rsaquo;&rsaquo;</button>
                </div>
              </div>
            </div>
          </div>

            
         

          </div>
        </div>
      </section>
    <!-- Footer -->
    <footer>
      <% include ./../../partials/footer %>
    </footer>
  </body>
</html>