<!DOCTYPE HTML>
<!--
  Hielo by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
  <head id="head">
    <% include ./../../partials/head %>
  </head>
  <body>
    <!-- Header -->
      <header id="header" class="alt">
        <div class='logo'>
          <a href='/'>J.A Rio militar</a>
        </div>
        <a onclick="var r = confirm('deseja sair?');if(r==true){window.location.href='/logout'}">log-out</a>
        <a href='#menu'>Menu</a>
      </header>

    <!-- Nav -->
    <% include ./../../partials/nav %>

    <!-- One -->
      <section id="One" class="wrapper style3">
        <div class="inner">
          <header class="align-center">
            <br>
            <p>Produção</p>
          </header>
        </div>
      </section>

      <input type="button" class="button small alt" onclick="window.location.href='/fabrica'" value="<- voltar">

      <section id="one" class="wrapper style2">
        <div class="inner">

          <div>
            <div class="box">
              
              <div class="content">
                <header class="align-center">
                  <p>Menu de</p>
                  <h4>Produção</h4>
                  <button class="button alt" onclick="window.location.href='/producao-cadastro'">Cadastrar</button>
                  <button class="button alt" onclick="window.location.href='/producao-gerir'">Atualizar</button>
                  <!-- <button class="button alt" onclick="window.location.href='/producao-relatorio'">Relatórios</button> -->
                  <!-- <button class="button alt" onclick="window.location.href='/producao-devolucao'">Devolução</button> -->
                </header>
              </div>
            
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- Footer -->
    <footer>
      <% include ./../../partials/footer %>
    </footer>
  </body>
</html>