<link rel='icon' href='images/icon/icon.png'>
<title>J.A Rio militar</title>
<meta charset='utf-8' /><meta name='viewport' content='width=device-width, initial-scale=1' />
<link rel='stylesheet' href='stylesheets/css/style.css' />