<footer id="footer">
    <div class='container'>
      <ul class='icons'>
        <li><a href='#' class='icon fa-youtube'><span class='label'>Youtube</span></a></li>
        <li><a href='#' class='icon fa-facebook'><span class='label'>Facebook</span></a></li>
        <li><a href='#' class='icon fa-instagram'><span class='label'>Instagram</span></a></li>
        <li><a href='#' class='icon fa-envelope-o'><span class='label'>Email</span></a></li>
      </ul>
    </div>
    <div class='copyright'>
      &copy; J.A Rio militar. All rights reserved. - hosted by Lsystem
    </div>
  </footer>
<!-- Scripts -->
  <script src="/javascripts/essentials/jquery-2.2.0.js" type="text/javascript"></script>
  <script src="/javascripts/essentials/slick.js" type="text/javascript"></script>
  <script src="/javascripts/essentials/slider.js" type="text/javascript"></script>
  <script src="/javascripts/essentials/skel.min.js"></script>
  <script src="/javascripts/essentials/util.js"></script>
  <script src="/javascripts/essentials/main.js"></script>
  <script src="/javascripts/scripts/lib.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/product.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/customer.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/store_product.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/production.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/production_input.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/sale.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/sale_devolution.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/sale_withdrawal.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/storage.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/store_supply.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/factory_report.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/cashier.js" type="text/javascript"></script>
  <script src="/javascripts/scripts/store_sale.js" type="text/javascript"></script>