<!DOCTYPE HTML>
<html>
  <head id="head">
    <% include ./partials/head %>
  </head>
  <body>
    <!-- Header -->
      <header id="header" class="alt">
        <div class='logo'>
          <a href='/'>J.A Rio militar</a>
        </div>
        <a href="/login">Intranet</a>
      </header>

    <!-- One -->
      <section id="One" class="wrapper style3">
        <div class="inner">
          <header class="align-center">
            <br>
            <p>Loja e fábrica de artigos militares</p>
            <h3>J.A Rio militar</h3>
          </header>
        </div>
      </section>

      <section id="one" class="wrapper style2">

        <div class="inner">
          <div class="grid-style">

              <div>
                <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Portfólio</p>
                      <h3>Todos os produtos da marca J.A</h3>
                    </header>
                    <footer class="align-center">
                      <a href="/portfolio" class="button alt">Acessar</a>
                    </footer>
                  </div>
                </div>
              </div>

              <div>
                <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Mercado Livre</p>
                      <h3>Compre com garantia Mercado Livre</h3>
                    </header>
                    <footer class="align-center">
                      <a href="#" class="button alt">Acessar</a>
                    </footer>
                  </div>
                </div>
              </div>

               <div>
                <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Site oficial</p>
                      <h3>Visite nosso portal e fique por dentro das novidades e promoções</h3>
                    </header>
                    <footer class="align-center">
                      <a href="#" class="button alt">Acessar</a>
                    </footer>
                  </div>
                </div>
              </div>

              <div>
                <div class="box">
                  <div class="content">
                    <header class="align-center">
                      <p>Tabela de produtos</p>
                      <h3>O melhor preço do mercado varejo e atacado, confira!</h3>
                    </header>
                    <footer class="align-center">
                      <a href="/portfolioTable" class="button alt">Acessar</a>
                    </footer>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>

    <!-- Footer -->
    <footer>
      <% include ./partials/footer %>
    </footer>
  </body>
</html>